In [ ]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# Subquery

Kita bisa membuat sebuah query yang berada di dalam query yang lain.
Hal ini disebut dengan **subquery**

In [ ]:
run("""
SELECT 
    lastName, firstName
FROM
    employees
WHERE
    officeCode IN (SELECT 
            officeCode
        FROM
            offices
        WHERE
            country = 'USA')
""")

![subquery](https://www.mysqltutorial.org/wp-content/uploads/2013/02/mysql-subquery.gif

#Subquery di dalam Where Clause
![subquery](http://www.mysqltutorial.org/wp-content/uploads/2013/05/payments_table.png)

##Menggunakan operator comparison

In [ ]:
run("""
SELECT 
    customerNumber, checkNumber, amount
FROM
    payments
WHERE
    amount = (SELECT 
            MAX(amount)
        FROM
            payments);
""")

In [ ]:
run("""
SELECT 
    customerNumber, checkNumber, amount
FROM
    payments
WHERE
    amount > (SELECT 
            AVG(amount)
        FROM
            payments);

""")

##Menggunakan Operator IN dan NOT IN
![subquery](http://www.mysqltutorial.org/wp-content/uploads/2009/12/customers_orders_tables.png)

In [ ]:
run("""
SELECT 
    customerName
FROM
    customers
WHERE
    customerNumber NOT IN (SELECT DISTINCT
            customerNumber
        FROM
            orders);


""")

#Subquery di dalam FROM
Tujuannya ialah membuat tabel sementara yang tidak terdapat tabel dalam database tersebut

In [ ]:
run("""
SELECT 
    MAX(items), MIN(items), FLOOR(AVG(items))
FROM
    (SELECT 
        orderNumber, COUNT(orderNumber) AS items
    FROM
        orderdetails
    GROUP BY orderNumber) AS lineitems;

""")

#Exist dan NonExists
![subquery](http://www.mysqltutorial.org/wp-content/uploads/2011/05/orders_order_details_tables.png)

In [ ]:
run("""
SELECT 
    customerNumber, 
    customerName
FROM
    customers
WHERE
    EXISTS( SELECT 
            orderNumber, SUM(priceEach * quantityOrdered)
        FROM
            orderdetails
                INNER JOIN
            orders USING (orderNumber)
        WHERE
            customerNumber = customers.customerNumber
        GROUP BY orderNumber
        HAVING SUM(priceEach * quantityOrdered) > 60000);

""")